{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProjectCategory Creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="{{ path('project_category_index') }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(form) }}

{% endblock %}
