<script src="{{ asset('bower/pdfobject/pdfobject.min.js') }}"></script>

<script defer="defer">
    document.addEventListener("DOMContentLoaded", function (event) {
        var div = document.getElementById("pdfView");
        console.log(div);
        PDFObject.embed("{{ path('media_file_raw', {'id': mediaFile.id}) }}", div, {
            'width': '100%',
            'height': '640px',
        });
    });
</script>

<div id="pdfView"></div>        
