{% extends 'base.html.twig' %}

{% block body %}
    <h1>Organization edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="text-center">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="{{ path('organization_show', { 'id': organization.id }) }}" class="btn btn-warning">Cancel</a>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}
