[submodule "docs"]
    path = docs
    url = https://github.com/sfu-dhil/btd-docs.git
    branch = master
[submodule "deployment"]
	path = deployment
	url = https://github.com/ubermichael/deployment.git
	branch = master
[submodule "deployment/"]
	branch = main
[submodule "docs/"]
	branch = main
[submodule "etc"]
	path = etc
	url = https://github.com/ubermichael/symake
	branch = main
