[submodule "src/Nines"]
	path = src/Nines
        url=git@github.com:ubermichael/nines-bundles.git
        branch = master
        
[submodule "docs"]
	path = docs
	url = https://github.com/sfu-dhil/btd-docs.git
	branch = master
[submodule "app/Resources/SensioGeneratorBundle/skeleton"]
	path = app/Resources/SensioGeneratorBundle/skeleton
	url = git@github.com:ubermichael/skeleton.git
	branch = master
