[submodule "docs"]
    path = docs
    url = https://github.com/sfu-dhil/btd-docs.git
    branch = master
[submodule "app/Resources/SensioGeneratorBundle/skeleton"]
    path = app/Resources/SensioGeneratorBundle/skeleton
    url = https://github.com/ubermichael/skeleton.git
    branch = master
