###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Temporary while doing the upgrade.
/old

# documentation
/docs/src/build
/web/docs

# PHPStorm config.
/.idea
.yarn-integrity
public/yarn
config/deploy.yml
*.sql
data/uploads
config/deploy.yaml
public/docs
src/.preload.php

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
