


<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTP_HOST} localhost
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
  RewriteRule ^(.*) - [E=BASE:%1]

  RewriteRule ^$ /btd/web/app_dev.php [R,L]
</IfModule>
