/* Move the content down, to make room for the nav bar. */
body > .container {
    padding-top: 70px;
    flex: 1;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}

nav.navbar .dropdown-toggle.show {
    background-image: linear-gradient(to bottom,#dbdbdb 0,#e2e2e2 100%);
}

nav.navbar .dropdown-menu {
    margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav.navbar a.nav-link {
    padding: 15px;
}

.navbar a, a.btn {
    text-decoration: none !important;
}

/* Custom app styles */

label.required::after {
    content: ' *';
    color: red;
    font-weight: bold;
}

/* tables */
table.tablesorter thead tr {
    white-space: nowrap;
}
table.tablesorter thead tr .header:after {
    content: ' ↕';
}
table.tablesorter thead tr .headerSortUp:after {
    content: ' ↑';
}
table.tablesorter thead tr .headerSortDown:after {
    content: ' ↓';
}


div.tab-content {
    min-height: 200px;
}

ul.columnated {
    list-style: none;
}

ul.columnated li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    position: relative;
    margin-left: 1em;
}

ul.columnated li:before {
    content: '•';
    position: absolute;
    left: -1em;
}

@media (max-width: 480px) {
    ul.columnated {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 481px) and (max-width: 768px) {
    ul.columnated {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
    ul.columnated {
        list-style: none;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
    ul.columnated {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

div.homepage {
    margin: 0 auto;
    max-width: 80ex;
}

div.homepage img {
    max-width: 100%;
}

/* make the search form checkboxes less bad. */
div.checkbox, div.radio {
    width: 30%;
    float: left;
}

div.collection-complex > div:not(:last-child) {
    padding-top: 15px;
    border: 1px solid rgba(128, 128, 128, 0.31);
}

div.embedded-form {
    border: 1px solid lightgrey;
    padding-top: 15px;
    padding-right: 15px;
}

/* Select2 typeaheads are a bit short. */
span.select2 {
    width: 100%!important;
}
